body{
    background-color: white;
    min-height: 100%;
  }
  .navbar{
    background-color:#1C2331;
    color: white;
    opacity: 0.5;
}
  
  .featurette:hover{
    transform: scale(0.97);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
  }
  .words{
    text-align: justify;
    text-justify: inter-word;
  }
  a.custom-card
  {
    color: inherit;
  }